{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f6 nested-links nested-img mid-gray">
        <hr>
        {{.TableOfContents}}
        <hr>
      </div>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
          {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}